/*
  Project name(项目名称)：Database_course_design_Java_Web_Implementation_of_student_information_management_system_based_on_MySQL 
  File name(文件名): page
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/12 
  Time(创建时间)： 21:11
  Version(版本): 1.0
  Description(描述)： 无
 */

div.next {
    position: absolute;
    right: 250px;
}

div.next2 {
    position: absolute;
    right: 0;
}

div.before {
    position: absolute;
    left: 250px;
}

div.before2 {
    position: absolute;
    left: 0;
}

div.last {
    position: absolute;
    right: 20vw;
}

div.first {
    position: absolute;
    left: 20vw;
}